deploy/bootstrap/02_workflow_diagnose.json
[{"id": "MedRAGDiagnose01", "name": "MedicalRAG Diagnose (auth + native)", "nodes": [{"parameters": {"httpMethod": "POST", "path": "diagnose", "responseMode": "responseNode", "options": {"allowedOrigins": "*"}}, "id": "trig", "name": "Webhook Diagnose", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 400], "webhookId": "diagnose-webhook"}, {"parameters": {"jsCode": "const crypto = require('crypto');\nconst h = $input.first().json.headers || {};\nconst auth = h.authorization || h.Authorization || '';\nconst token = auth.startsWith('Bearer ') ? auth.slice(7) : auth;\nconst body = $input.first().json.body || {};\nconst defaultCase = {symptoms:['severe headache','fever','neck stiffness','photophobia'],vitals:{temp_c:39.4,hr:112,bp_sys:128,bp_dia:82,rr:20,spo2:97},history:{age:28,sex:'F',conditions:[],medications:[]},labs:{wbc:14.2,crp:78}};\nconst c = (body.symptoms && body.symptoms.length) ? body : defaultCase;\nconst trace_id = crypto.randomBytes(16).toString('hex');\nconst root_span_id = crypto.randomBytes(8).toString('hex');\nreturn [{ json: { token, case: c, trace_id, root_span_id, _t_start: Date.now() } }];"}, "id": "auth_extract", "name": "Extract Token & Case", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [320, 400]}, {"parameters": {"operation": "executeQuery", "query": "=SELECT (SELECT id::text FROM n8n_users WHERE token='{{ $json.token }}' AND token_expires > NOW() LIMIT 1) AS uid;", "options": {}}, "id": "verify", "name": "Verify Token", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [540, 400], "credentials": {"postgres": {"id": "MedRAGPgCred01", "name": "MedRAG Postgres"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "c1", "leftValue": "={{ $json.uid }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "authif", "name": "Token Valid?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [760, 400]}, {"parameters": {"respondWith": "json", "responseBody": "={\"ok\":false,\"error\":\"unauthorized\"}", "options": {"responseCode": 401}}, "id": "rejresp", "name": "Reject 401", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [980, 260]}, {"parameters": {"jsCode": "const tx = $('Extract Token & Case').first().json;\nconst c = tx.case;\nconst sx = (c.symptoms||[]).join(', ');\nconst v = c.vitals||{};\nconst vstr = `temp ${v.temp_c}C, HR ${v.hr}, BP ${v.bp_sys}/${v.bp_dia}, RR ${v.rr}, SpO2 ${v.spo2}`;\nconst labs = c.labs ? Object.entries(c.labs).map(([k,v])=>`${k}=${v}`).join(', ') : '';\nconst query = `Patient: ${sx}. Vitals: ${vstr}. Labs: ${labs}.`;\nreturn [{ json: { case: c, query_text: query, trace_id: tx.trace_id, root_span_id: tx.root_span_id, _t_start: tx._t_start, _t_query: Date.now() } }];"}, "id": "buildq", "name": "Build Query Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [980, 540]}, {"parameters": {"method": "POST", "url": "https://router.huggingface.co/hf-inference/models/sentence-transformers/all-MiniLM-L6-v2/pipeline/feature-extraction", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({inputs: $json.query_text}) }}", "options": {"timeout": 30000, "response": {"response": {"fullResponse": true, "responseFormat": "json"}}}}, "id": "embed", "name": "HF Embed", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1200, 540], "credentials": {"httpHeaderAuth": {"id": "HFBearerCred01", "name": "HF Bearer"}}}, {"parameters": {"jsCode": "let r = $input.first().json;\nlet vec = r.body !== undefined ? r.body : r;\nif (Array.isArray(vec[0])) vec = vec[0];\nif (vec.length !== 384) throw new Error('expected 384 dims, got '+vec.length);\nconst lit = '[' + vec.map(x => Number(x).toFixed(8)).join(',') + ']';\nconst prev = $('Build Query Text').first().json;\nreturn [{ json: { ...prev, vector: lit, _t_embed_end: Date.now() } }];"}, "id": "veclit", "name": "Vector Literal", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1420, 540]}, {"parameters": {"operation": "executeQuery", "query": "=SELECT id::text AS id, content, source, evidence_type, 1 - (embedding <=> '{{ $json.vector }}'::vector) AS score FROM documents ORDER BY embedding <=> '{{ $json.vector }}'::vector LIMIT 5;", "options": {}}, "id": "retrieve", "name": "Retrieve Top-5", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1640, 540], "credentials": {"postgres": {"id": "MedRAGPgCred01", "name": "MedRAG Postgres"}}}, {"parameters": {"jsCode": "const docs = $input.all().map(i => i.json);\nconst ctx = docs.map((d,i)=>`[doc ${i+1}] id=${d.id} source=${d.source||'n/a'} type=${d.evidence_type||'n/a'}\\n${(d.content||'').slice(0,2000)}`).join('\\n\\n');\nconst evidence_ids = docs.map(d=>d.id);\nconst tx = $('Extract Token & Case').first().json;\nconst c = tx.case;\nconst sx = (c.symptoms||[]).join(', ');\nconst v = c.vitals||{};\nconst labs = c.labs ? Object.entries(c.labs).map(([k,v])=>`${k}=${v}`).join(', ') : 'none';\nconst h = c.history||{};\nconst userPrompt = `PATIENT CASE\\nSymptoms: ${sx}\\nVitals: temp ${v.temp_c}C, HR ${v.hr}, BP ${v.bp_sys}/${v.bp_dia}, RR ${v.rr}, SpO2 ${v.spo2}\\nHistory: age ${h.age}, sex ${h.sex}, conditions ${(h.conditions||[]).join(',')||'none'}\\nLabs: ${labs}\\n\\nRETRIEVED EVIDENCE\\n${ctx}\\n\\nReturn ONLY JSON.`;\nconst prev = $('Vector Literal').first().json;\nreturn [{ json: { user_prompt: userPrompt, evidence_ids, docs, case: c, trace_id: tx.trace_id, root_span_id: tx.root_span_id, _t_start: tx._t_start, _t_embed_end: prev._t_embed_end, _t_retrieve_end: Date.now() } }];"}, "id": "fmt", "name": "Format Context", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1860, 540]}, {"parameters": {"method": "POST", "url": "https://api.groq.com/openai/v1/chat/completions", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({model:'llama-3.1-8b-instant',temperature:0.2,response_format:{type:'json_object'},messages:[{role:'system',content:\"You are a clinical decision-support assistant generating a differential diagnosis.\\nYou must return ONLY a JSON object with this exact structure:\\n{\\n  \\\"diagnoses\\\": [\\n    {\\\"condition\\\": \\\"<condition name>\\\", \\\"confidence\\\": \\\"<low|medium|high>\\\", \\\"evidence_ids\\\": [\\\"<doc_id_uuid>\\\"], \\\"reasoning\\\": \\\"<1-2 sentence reasoning>\\\"}\\n  ],\\n  \\\"reasoning\\\": \\\"<overall reasoning paragraph>\\\",\\n  \\\"needs_reretrival\\\": false,\\n  \\\"missing_evidence_hint\\\": null\\n}\\nRules:\\n- List 3-5 differentials ranked by likelihood.\\n- confidence must be one of low|medium|high.\\n- evidence_ids must reference only IDs from provided documents.\\n- Do NOT fabricate claims unsupported by evidence.\"},{role:'user',content:$json.user_prompt}]}) }}", "options": {"timeout": 60000}}, "id": "diagnose", "name": "Groq Diagnose", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2080, 540], "credentials": {"httpHeaderAuth": {"id": "GroqBearerCred01", "name": "Groq Bearer"}}}, {"parameters": {"jsCode": "const r = $input.first().json;\nconst raw = r.choices?.[0]?.message?.content || '{}';\nlet parsed; try { parsed = JSON.parse(raw); } catch(e) { parsed = { diagnoses:[], reasoning:'parse_error', needs_reretrival:false }; }\nconst ctx = $('Format Context').first().json;\nconst usage = r.usage || {};\nreturn [{ json: { initial: parsed, user_prompt_initial: ctx.user_prompt, evidence_ids: ctx.evidence_ids, docs: ctx.docs, case: ctx.case, trace_id: ctx.trace_id, root_span_id: ctx.root_span_id, _t_start: ctx._t_start, _t_embed_end: ctx._t_embed_end, _t_retrieve_end: ctx._t_retrieve_end, _t_diag_end: Date.now(), _diag_usage: usage, _diag_raw: raw } }];"}, "id": "parsediag", "name": "Parse Diagnosis", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2300, 540]}, {"parameters": {"method": "POST", "url": "https://api.groq.com/openai/v1/chat/completions", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({model:'llama-3.1-8b-instant',temperature:0.2,response_format:{type:'json_object'},messages:[{role:'system',content:\"You are a senior clinical reviewer critiquing a differential diagnosis.\\nReturn ONLY JSON: {\\\"diagnoses\\\":[{\\\"condition\\\":\\\"...\\\",\\\"confidence\\\":\\\"low|medium|high\\\",\\\"evidence_ids\\\":[\\\"...\\\"],\\\"reasoning\\\":\\\"...\\\"}],\\\"reasoning\\\":\\\"...\\\",\\\"needs_reretrival\\\":false,\\\"missing_evidence_hint\\\":null}\\nJob: critique each initial diagnosis, elevate under-weighted, demote over-weighted, set needs_reretrival=true if evidence missing. evidence_ids must come from provided docs.\"},{role:'user',content: $json.user_prompt_initial + '\\n\\nINITIAL DIAGNOSIS:\\n' + ($json.initial.diagnoses||[]).map(d=>'- '+d.condition+' ['+d.confidence+']: '+d.reasoning).join('\\n') + '\\n\\nINITIAL REASONING:\\n' + ($json.initial.reasoning||'') + '\\n\\nCritique and revise.'}]}) }}", "options": {"timeout": 60000}}, "id": "reflect", "name": "Groq Reflect", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2520, 540], "credentials": {"httpHeaderAuth": {"id": "GroqBearerCred01", "name": "Groq Bearer"}}}, {"parameters": {"jsCode": "const r = $input.first().json;\nconst raw = r.choices?.[0]?.message?.content || '{}';\nlet parsed; try { parsed = JSON.parse(raw); } catch(e) { parsed = { diagnoses:[], reasoning:'parse_error', needs_reretrival:false }; }\nconst prev = $('Parse Diagnosis').first().json;\nconst usage = r.usage || {};\nreturn [{ json: { initial: prev.initial, reflection: parsed, evidence_ids: prev.evidence_ids, case: prev.case, trace_id: prev.trace_id, root_span_id: prev.root_span_id, _t_start: prev._t_start, _t_embed_end: prev._t_embed_end, _t_retrieve_end: prev._t_retrieve_end, _t_diag_end: prev._t_diag_end, _t_refl_end: Date.now(), _diag_usage: prev._diag_usage, _refl_usage: usage, _diag_input: prev.user_prompt_initial, _diag_output: prev._diag_raw, _refl_output: raw } }];"}, "id": "parserefl", "name": "Parse Reflection", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2740, 540]}, {"parameters": {"jsCode": "const j = $input.first().json;\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst allowed = new Set(j.evidence_ids);\nconst filt = (lst) => (lst||[]).map(d => ({...d, evidence_ids: (d.evidence_ids||[]).filter(e => uuidRe.test(e) && allowed.has(e))}));\nconst final_diagnoses = filt(j.reflection.diagnoses);\nconst crypto = require('crypto');\nconst case_id = (j.case && j.case.case_id) || crypto.randomUUID();\nreturn [{ json: { ok:true, case_id, trace_id: j.trace_id, root_span_id: j.root_span_id, _t_start: j._t_start, _t_embed_end: j._t_embed_end, _t_retrieve_end: j._t_retrieve_end, _t_diag_end: j._t_diag_end, _t_refl_end: j._t_refl_end, _t_end: Date.now(), _diag_usage: j._diag_usage, _refl_usage: j._refl_usage, _diag_input: j._diag_input, _diag_output: j._diag_output, _refl_output: j._refl_output, doc_count: (j.evidence_ids||[]).length, initial_diagnosis: filt(j.initial.diagnoses), reflection_diagnosis: final_diagnoses, final_diagnosis: final_diagnoses, retrieved_evidence_ids: j.evidence_ids, needs_reretrival: !!j.reflection.needs_reretrival, disclaimer: 'Not a medical diagnosis; consult a clinician.' } }];"}, "id": "validate", "name": "Validator", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2960, 540]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {}}, "id": "okresp", "name": "Respond Success", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [3180, 540]}, {"parameters": {"jsCode": "const crypto = require('crypto');\nconst j = $input.first().json;\nconst tid = j.trace_id;\nconst root = j.root_span_id;\nconst sid = () => crypto.randomBytes(8).toString('hex');\nconst iso = (ms) => new Date(ms).toISOString().replace('Z','000Z');\nconst RES = { attributes: { 'service.name': 'medrag_n8n', 'telemetry.sdk.language': 'python', 'telemetry.sdk.name': 'opentelemetry', 'telemetry.sdk.version': '1.29.0' }, schema_url: '' };\nconst baseSpan = (name, parent, t0, t1, attrs, events) => ({\n  name, context: { trace_id: '0x'+tid, span_id: '0x'+sid(), trace_state: '[]' },\n  kind: 'SpanKind.INTERNAL', parent_id: parent ? '0x'+parent : null,\n  start_time: iso(t0), end_time: iso(t1),\n  status: { status_code: 'OK' },\n  attributes: { 'workflow.name': 'medrag_n8n', 'monocle_apptrace.version': '0.5.0', ...attrs },\n  events: events || [], links: [], resource: RES\n});\nconst evt = (name, ts, attrs) => ({ name, timestamp: iso(ts), attributes: attrs });\nconst embedSpan = (parent, t0, t1, query) => baseSpan('openai.embeddings.create', parent, t0, t1, { 'span.type':'embedding', 'entity.count':1, 'entity.1.name':'all-MiniLM-L6-v2', 'entity.1.type':'model.embedding.all-MiniLM-L6-v2' }, [evt('data.input', t0, { input: [query] }), evt('data.output', t1, { response: '[384-d vector]' })]);\nconst retrieveSpan = (parent, t0, t1, doc_count) => baseSpan('postgres.pgvector.search', parent, t0, t1, { 'span.type':'retrieval', 'entity.count':1, 'entity.1.name':'medicalrag.documents', 'entity.1.type':'vectorstore.pgvector', 'retrieval.doc_count': doc_count }, []);\nconst inferSpan = (parent, t0, t1, model, input, output, usage) => baseSpan('openai.resources.chat.completions.create', parent, t0, t1, { 'span.type':'inference', 'entity.count':2, 'entity.1.type':'inference.groq', 'entity.1.provider_name':'groq', 'entity.1.inference_endpoint':'https://api.groq.com/openai/v1', 'entity.2.name': model, 'entity.2.type':'model.llm.'+model }, [evt('data.input', t0, { input: [input] }), evt('data.output', t1, { response: [output] }), evt('metadata', t1, { completion_tokens: usage?.completion_tokens||0, prompt_tokens: usage?.prompt_tokens||0, total_tokens: usage?.total_tokens||0 })]);\nconst root_span = { name: 'workflow', context: { trace_id: '0x'+tid, span_id: '0x'+root, trace_state: '[]' }, kind: 'SpanKind.INTERNAL', parent_id: null, start_time: iso(j._t_start), end_time: iso(j._t_end), status: { status_code: 'OK' }, attributes: { 'workflow.name': 'medrag_n8n', 'span.type': 'workflow', 'entity.count': 1, 'entity.1.name': 'medrag_n8n', 'entity.1.type': 'workflow.generic', 'monocle_apptrace.version': '0.5.0', 'case_id': j.case_id, 'doc_count': j.doc_count, 'final_count': (j.final_diagnosis||[]).length, 'top_condition': (j.final_diagnosis||[])[0]?.condition || '', 'top_confidence': (j.final_diagnosis||[])[0]?.confidence || '' }, events: [], links: [], resource: RES };\nconst query_text = j._diag_input ? j._diag_input.split('\\n')[0] : 'patient case';\nconst batch = [\n  root_span,\n  embedSpan(root, j._t_start, j._t_embed_end, query_text),\n  retrieveSpan(root, j._t_embed_end, j._t_retrieve_end, j.doc_count),\n  inferSpan(root, j._t_retrieve_end, j._t_diag_end, 'llama-3.1-8b-instant', j._diag_input || '', j._diag_output || '', j._diag_usage),\n  inferSpan(root, j._t_diag_end, j._t_refl_end, 'llama-3.1-8b-instant', 'reflection critique', j._refl_output || '', j._refl_usage)\n];\nreturn [{ json: { batch } }];"}, "id": "buildspans", "name": "Build Span Batch", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3180, 760]}, {"parameters": {"method": "POST", "url": "https://ingest.okahu.co/api/v1/trace/ingest", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "__OKAHU_API_KEY__"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({batch: $json.batch}) }}", "options": {"timeout": 10000}}, "id": "sendokahu", "name": "Send to Okahu", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3400, 760]}], "connections": {"Webhook Diagnose": {"main": [[{"node": "Extract Token & Case", "type": "main", "index": 0}]]}, "Extract Token & Case": {"main": [[{"node": "Verify Token", "type": "main", "index": 0}]]}, "Verify Token": {"main": [[{"node": "Token Valid?", "type": "main", "index": 0}]]}, "Token Valid?": {"main": [[{"node": "Build Query Text", "type": "main", "index": 0}], [{"node": "Reject 401", "type": "main", "index": 0}]]}, "Build Query Text": {"main": [[{"node": "HF Embed", "type": "main", "index": 0}]]}, "HF Embed": {"main": [[{"node": "Vector Literal", "type": "main", "index": 0}]]}, "Vector Literal": {"main": [[{"node": "Retrieve Top-5", "type": "main", "index": 0}]]}, "Retrieve Top-5": {"main": [[{"node": "Format Context", "type": "main", "index": 0}]]}, "Format Context": {"main": [[{"node": "Groq Diagnose", "type": "main", "index": 0}]]}, "Groq Diagnose": {"main": [[{"node": "Parse Diagnosis", "type": "main", "index": 0}]]}, "Parse Diagnosis": {"main": [[{"node": "Groq Reflect", "type": "main", "index": 0}]]}, "Groq Reflect": {"main": [[{"node": "Parse Reflection", "type": "main", "index": 0}]]}, "Parse Reflection": {"main": [[{"node": "Validator", "type": "main", "index": 0}]]}, "Validator": {"main": [[{"node": "Respond Success", "type": "main", "index": 0}, {"node": "Build Span Batch", "type": "main", "index": 0}]]}, "Build Span Batch": {"main": [[{"node": "Send to Okahu", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "pinData": {}}]