deploy/bootstrap/03_workflow_chat.json
[{"id": "MedRAGChat01", "name": "MedicalRAG Chat", "nodes": [{"parameters": {"httpMethod": "POST", "path": "chat", "responseMode": "responseNode", "options": {"allowedOrigins": "*"}}, "id": "trig", "name": "Webhook Chat", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 300], "webhookId": "chat-webhook"}, {"parameters": {"jsCode": "const h = $input.first().json.headers || {};\nconst auth = h.authorization || h.Authorization || '';\nconst token = auth.startsWith('Bearer ') ? auth.slice(7) : auth;\nconst body = $input.first().json.body || {};\nconst messages = body.messages || [];\nreturn [{ json: { token, messages } }];"}, "id": "extract", "name": "Extract Token & Body", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [320, 300]}, {"parameters": {"operation": "executeQuery", "query": "=SELECT (SELECT id::text FROM n8n_users WHERE token='{{ $json.token }}' AND token_expires > NOW() LIMIT 1) AS uid;", "options": {}}, "id": "verify", "name": "Verify Token", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [540, 300], "credentials": {"postgres": {"id": "MedRAGPgCred01", "name": "MedRAG Postgres"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "c1", "leftValue": "={{ $json.uid }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "authif", "name": "Token Valid?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [760, 300]}, {"parameters": {"respondWith": "json", "responseBody": "={\"detail\":\"unauthorized\"}", "options": {"responseCode": 401}}, "id": "rejresp", "name": "Reject 401", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [980, 180]}, {"parameters": {"method": "POST", "url": "https://api.groq.com/openai/v1/chat/completions", "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({model:'llama-3.3-70b-versatile',temperature:0.3,messages:[{role:'system',content:\"You are a medical assistant explaining a prior differential diagnosis to a clinician. Use only facts grounded in the provided diagnosis context. If asked about something not in context, say you don't have that information. Keep replies concise (2-4 sentences).\"}].concat($('Extract Token & Body').first().json.messages || [])}) }}", "options": {"timeout": 60000}}, "id": "call", "name": "Groq Chat", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [980, 420], "credentials": {"httpHeaderAuth": {"id": "GroqBearerCred01", "name": "Groq Bearer"}}}, {"parameters": {"jsCode": "const r = $input.first().json;\nconst reply = r.choices?.[0]?.message?.content || 'No reply';\nreturn [{ json: { ok:true, reply, remaining_requests: 999 } }];"}, "id": "parse", "name": "Parse Reply", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1200, 420]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {}}, "id": "okresp", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1420, 420]}], "connections": {"Webhook Chat": {"main": [[{"node": "Extract Token & Body", "type": "main", "index": 0}]]}, "Extract Token & Body": {"main": [[{"node": "Verify Token", "type": "main", "index": 0}]]}, "Verify Token": {"main": [[{"node": "Token Valid?", "type": "main", "index": 0}]]}, "Token Valid?": {"main": [[{"node": "Groq Chat", "type": "main", "index": 0}], [{"node": "Reject 401", "type": "main", "index": 0}]]}, "Groq Chat": {"main": [[{"node": "Parse Reply", "type": "main", "index": 0}]]}, "Parse Reply": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "pinData": {}}]