deploy/bootstrap/04_workflow_auth.json
[{"id": "MedRAGAuthSignup01", "name": "MedicalRAG Auth \u2014 Signup", "nodes": [{"parameters": {"httpMethod": "POST", "path": "signup", "responseMode": "lastNode", "options": {"allowedOrigins": "*"}}, "id": "trig", "name": "Webhook Signup", "webhookId": "signup-webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 300]}, {"parameters": {"jsCode": "const crypto = require('crypto');\nconst body = $input.first().json.body || $input.first().json;\nconst email = (body.email||'').trim().toLowerCase();\nconst password = body.password||'';\nif (!email.includes('@') || password.length < 6) { return [{json:{ok:false,error:'invalid email or password<6'}}]; }\nconst salt = crypto.randomBytes(16).toString('hex');\nconst hash = crypto.pbkdf2Sync(password, salt, 100000, 32, 'sha256').toString('hex');\nconst token = crypto.randomBytes(32).toString('hex');\nreturn [{ json: { ok:true, email, salt, hash, token } }];"}, "id": "hash", "name": "Hash + Token", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [320, 300]}, {"parameters": {"operation": "executeQuery", "query": "=INSERT INTO n8n_users (email, password_hash, salt, token, token_expires) VALUES ('{{ $json.email }}', '{{ $json.hash }}', '{{ $json.salt }}', '{{ $json.token }}', NOW() + INTERVAL '7 days') ON CONFLICT (email) DO NOTHING RETURNING id::text AS id, email, token;", "options": {}}, "id": "ins", "name": "Insert User", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [540, 300], "credentials": {"postgres": {"id": "MedRAGPgCred01", "name": "MedRAG Postgres"}}}, {"parameters": {"jsCode": "const rows = $input.all().map(i=>i.json);\nif (!rows.length) return [{ json: { ok:false, error:'email already exists' } }];\nreturn [{ json: { ok:true, email: rows[0].email, token: rows[0].token } }];"}, "id": "resp", "name": "Respond", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 300]}], "connections": {"Webhook Signup": {"main": [[{"node": "Hash + Token", "type": "main", "index": 0}]]}, "Hash + Token": {"main": [[{"node": "Insert User", "type": "main", "index": 0}]]}, "Insert User": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "pinData": {}}, {"id": "MedRAGAuthLogin01", "name": "MedicalRAG Auth \u2014 Login", "nodes": [{"parameters": {"httpMethod": "POST", "path": "login", "responseMode": "lastNode", "options": {"allowedOrigins": "*"}}, "id": "trig", "name": "Webhook Login", "webhookId": "login-webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 300]}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst email = (body.email||'').trim().toLowerCase();\nconst password = body.password||'';\nreturn [{ json: { email, password } }];"}, "id": "prep", "name": "Prep", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [320, 300]}, {"parameters": {"operation": "executeQuery", "query": "=SELECT id::text AS id, email, password_hash, salt FROM n8n_users WHERE email='{{ $json.email }}' LIMIT 1;", "options": {}}, "id": "sel", "name": "Find User", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [540, 300], "credentials": {"postgres": {"id": "MedRAGPgCred01", "name": "MedRAG Postgres"}}}, {"parameters": {"jsCode": "const crypto = require('crypto');\nconst rows = $input.all().map(i=>i.json);\nconst inp = $('Prep').first().json;\nif (!rows.length) return [{ json: { ok:false, error:'invalid credentials' } }];\nconst u = rows[0];\nconst calc = crypto.pbkdf2Sync(inp.password, u.salt, 100000, 32, 'sha256').toString('hex');\nif (calc !== u.password_hash) return [{ json: { ok:false, error:'invalid credentials' } }];\nconst token = crypto.randomBytes(32).toString('hex');\nreturn [{ json: { ok:true, id:u.id, email:u.email, token } }];"}, "id": "verify", "name": "Verify", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 300]}, {"parameters": {"operation": "executeQuery", "query": "=UPDATE n8n_users SET token='{{ $json.token }}', token_expires=NOW() + INTERVAL '7 days' WHERE id='{{ $json.id }}' AND {{ $json.ok }};", "options": {}}, "id": "upd", "name": "Update Token", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [980, 300], "credentials": {"postgres": {"id": "MedRAGPgCred01", "name": "MedRAG Postgres"}}}, {"parameters": {"jsCode": "const j = $('Verify').first().json;\nif (!j.ok) return [{ json: { ok:false, error: j.error } }];\nreturn [{ json: { ok:true, email:j.email, token:j.token } }];"}, "id": "resp", "name": "Respond", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1200, 300]}], "connections": {"Webhook Login": {"main": [[{"node": "Prep", "type": "main", "index": 0}]]}, "Prep": {"main": [[{"node": "Find User", "type": "main", "index": 0}]]}, "Find User": {"main": [[{"node": "Verify", "type": "main", "index": 0}]]}, "Verify": {"main": [[{"node": "Update Token", "type": "main", "index": 0}]]}, "Update Token": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "pinData": {}}]